<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dataSource</key>
	<dict>
		<key>rowHeight</key>
		<integer>44</integer>
		<key>sections</key>
		<array>
			<dict>
				<key>headerTitle</key>
				<string>Interface</string>
				<key>footerTitle</key>
				<string></string>
				<key>metaData</key>
				<dict>
					<key>objectType</key>
					<integer>1</integer>
				</dict>
				<key>rows</key>
				<array>
					<dict>
						<key>metaData</key>
						<dict>
							<key>dataSource</key>
							<dict>
								<key>rowHeight</key>
								<integer>72</integer>
								<key>sections</key>
								<array>
									<dict>
										<key>headerTitle</key>
										<string></string>
										<key>footerTitle</key>
										<string></string>
										<key>metaData</key>
										<dict>
											<key>objectType</key>
											<integer>1</integer>
										</dict>
										<key>rows</key>
										<array>
											<dict>
												<key>metaData</key>
												<dict>
													<key>return</key>
													<dict>
														<key>bundledFiles</key>
														<array>
															<string>Example-Promotional/thumbnail.png</string>
														</array>
														<key>projectName</key>
														<string>Example-Promotional.hmipad</string>
														<key>assets</key>
														<array>
															<string>example-background1.jpg</string>
															<string>example-background2.jpg</string>
															<string>example-background3.jpg</string>
															<string>example-PLL_Blau_FEsq_Off.png</string>
															<string>example-PLL_Blau_FDre_Off.png</string>
														</array>
													</dict>
												</dict>
												<key>image</key>
												<string>Example-Promotional.hmipad</string>
												<key>text</key>
												<string>Example-Promotional.hmipad</string>
												<key>detailText</key>
												<string>A several pages example with pictures and controls to demonstrate visual tips you can use in your projects. </string>
											</dict>
											<dict>
												<key>metaData</key>
												<dict>
													<key>return</key>
													<dict>
														<key>bundledFiles</key>
														<array>
															<string>Example-StarterProject/thumbnail.png</string>
														</array>
														<key>projectName</key>
														<string>Example-StarterProject.hmipad</string>
														<key>assets</key>
														<array/>
													</dict>
												</dict>
												<key>image</key>
												<string>Example-StarterProject.hmipad</string>
												<key>text</key>
												<string>Example-StarterProject.hmipad</string>
												<key>detailText</key>
												<string>Single page template with nothing more than two labels that will properly resize for all interface orientations and device screen sizes  </string>
											</dict>
											<dict>
												<key>metaData</key>
												<dict>
													<key>return</key>
													<dict>
														<key>bundledFiles</key>
														<array>
															<string>Example-ControlsSuite/thumbnail.png</string>
														</array>
														<key>projectName</key>
														<string>Example-ControlsSuite.hmipad</string>
														<key>assets</key>
														<array/>
													</dict>
												</dict>
												<key>image</key>
												<string>Example-ControlsSuite.hmipad</string>
												<key>text</key>
												<string>Example-ControlsSuite.hmipad</string>
												<key>detailText</key>
												<string>A project with several pages showing a collection of interface indicators and controls with the ability to aply some variations on the fly</string>
											</dict>
											<dict>
												<key>metaData</key>
												<dict>
													<key>return</key>
													<dict>
														<key>projectName</key>
														<string>Example-IndicatorScale.hmipad</string>
														<key>bundledFiles</key>
														<array>
															<string>Example-IndicatorScale/thumbnail.png</string>
														</array>
														<key>assets</key>
														<array/>
													</dict>
												</dict>
												<key>image</key>
												<string>Example-IndicatorScale.hmipad</string>
												<key>text</key>
												<string>Example-IndicatorScale.hmipad</string>
												<key>detailText</key>
												<string>This example demonstrates value changes in several interface indicators. Scale maximum value can also be set in a dynamic way using the Continuous Value property of a slider control item.</string>
											</dict>
											<dict>
												<key>metaData</key>
												<dict>
													<key>return</key>
													<dict>
														<key>projectName</key>
														<string>Example-TextColorAndSize.hmipad</string>
														<key>bundledFiles</key>
														<array>
															<string>Example-TextColorAndSize/thumbnail.png</string>
														</array>
														<key>assets</key>
														<array/>
													</dict>
												</dict>
												<key>image</key>
												<string>Example-TextColorAndSize.hmipad</string>
												<key>text</key>
												<string>Example-TextColorAndSize.hmipad</string>
												<key>detailText</key>
												<string>This example demonstrates text size and color changes using slider controls. Color components are set using three different controls. The sliders set the red, green and blue color components (RGB) of a text label. By using the &apos;continuousValue&apos; property of the slider object, all changes are performed in real time.</string>
											</dict>
											<dict>
												<key>metaData</key>
												<dict>
													<key>return</key>
													<dict>
														<key>projectName</key>
														<string>Example-PageTransition.hmipad</string>
														<key>bundledFiles</key>
														<array>
															<string>Example-PageTransition/thumbnail.png</string>
														</array>
														<key>assets</key>
														<array/>
													</dict>
												</dict>
												<key>image</key>
												<string>Example-PageTransition.hmipad</string>
												<key>text</key>
												<string>Example-PageTransition.hmipad</string>
												<key>detailText</key>
												<string>This example demonstrates page navigation using controls. Each page has a unique &apos;pageIdentifier&apos;. We use the &apos;linkToPage&apos; property on controls to let users switch pages.</string>
											</dict>
											<dict>
												<key>metaData</key>
												<dict>
													<key>return</key>
													<dict>
														<key>projectName</key>
														<string>Example-VerificationText.hmipad</string>
														<key>bundledFiles</key>
														<array>
															<string>Example-VerificationText/thumbnail.png</string>
														</array>
														<key>assets</key>
														<array/>
													</dict>
												</dict>
												<key>image</key>
												<string>Example-VerificationText.hmipad</string>
												<key>text</key>
												<string>Example-VerificationText.hmipad</string>
												<key>detailText</key>
												<string>This example demonstrates the &apos;verificationText&apos; property on controls. We use the &apos;continuosValue&apos; property to catch the control value before it actually changed and give us the opportunity to filter user action.</string>
											</dict>
											<dict>
												<key>metaData</key>
												<dict>
													<key>return</key>
													<dict>
														<key>projectName</key>
														<string>Example-Multitouch.hmipad</string>
														<key>bundledFiles</key>
														<array>
															<string>Example-Multitouch/thumbnail.png</string>
														</array>
														<key>assets</key>
														<array/>
													</dict>
												</dict>
												<key>image</key>
												<string>Example-Multitouch.hmipad</string>
												<key>text</key>
												<string>Example-Multitouch.hmipad</string>
												<key>detailText</key>
												<string>This example demonstrates multitouch detection. We enable particular controls only when two buttons are pressed simultaneously.</string>
											</dict>
											<dict>
												<key>metaData</key>
												<dict>
													<key>return</key>
													<dict>
														<key>projectName</key>
														<string>Example-PdfViewer.hmipad</string>
														<key>bundledFiles</key>
														<array>
															<string>Example-PdfViewer/thumbnail.png</string>
														</array>
														<key>assets</key>
														<array>
															<string>example-pdf_01.pdf</string>
															<string>example-pdf_02.pdf</string>
															<string>example-pdf_03.pdf</string>
															<string>example-pdf_04.pdf</string>
															<string>example-pdf_05.pdf</string>
															<string>example-pdf_06.pdf</string>
														</array>
													</dict>
												</dict>
												<key>image</key>
												<string>Example-PdfViewer.hmipad</string>
												<key>text</key>
												<string>Example-PdfViewer.hmipad</string>
												<key>detailText</key>
												<string>This example demonstrates presentation of a choice of several PDF files on a single page. We use string expressions to compose a particular PDF file name and a Web Item to present it on screen.</string>
											</dict>
											<dict>
												<key>metaData</key>
												<dict>
													<key>return</key>
													<dict>
														<key>projectName</key>
														<string>Example-Scanner.hmipad</string>
														<key>bundledFiles</key>
														<array>
															<string>Example-Scanner/thumbnail.png</string>
														</array>
														<key>assets</key>
														<array/>
													</dict>
												</dict>
												<key>image</key>
												<string>Example-Scanner.hmipad</string>
												<key>text</key>
												<string>Example-Scanner.hmipad</string>
												<key>detailText</key>
												<string>This example demonstrates the use of the Bar Code Scanner. We use a button to activate the camera and read the code.</string>
											</dict>
											<dict>
												<key>metaData</key>
												<dict>
													<key>return</key>
													<dict>
														<key>projectName</key>
														<string>Example-Chart.hmipad</string>
														<key>bundledFiles</key>
														<array>
															<string>Example-Chart/thumbnail.png</string>
														</array>
														<key>assets</key>
														<array/>
													</dict>
												</dict>
												<key>image</key>
												<string>Example-Chart.hmipad</string>
												<key>text</key>
												<string>Example-Chart.hmipad</string>
												<key>detailText</key>
												<string>This example uses a Chart object to display arrays of values on several styles. We dinamically change values and graph scale.</string>
											</dict>
										</array>
									</dict>
								</array>
							</dict>
						</dict>
						<key>image</key>
						<string>121-landscapeGray.png</string>
						<key>text</key>
						<string>Controls &amp; Indicators</string>
						<key>detailText</key>
						<string></string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>headerTitle</key>
				<string>Communications</string>
				<key>footerTitle</key>
				<string></string>
				<key>metaData</key>
				<dict>
					<key>objectType</key>
					<integer>2</integer>
				</dict>
				<key>rows</key>
				<array>
					<dict>
						<key>metaData</key>
						<dict>
							<key>dataSource</key>
							<dict>
								<key>rowHeight</key>
								<integer>72</integer>
								<key>sections</key>
								<array>
									<dict>
										<key>headerTitle</key>
										<string></string>
										<key>footerTitle</key>
										<string></string>
										<key>metaData</key>
										<dict>
											<key>objectType</key>
											<integer>2</integer>
										</dict>
										<key>rows</key>
										<array>
											<dict>
												<key>metaData</key>
												<dict>
													<key>return</key>
													<dict>
														<key>projectName</key>
														<string>Example-CommsDemo.hmipad</string>
														<key>bundledFiles</key>
														<array>
															<string>Example-CommsDemo/thumbnail.png</string>
														</array>
														<key>assets</key>
														<array/>
													</dict>
												</dict>
												<key>image</key>
												<string>Example-CommsDemo.hmipad</string>
												<key>text</key>
												<string>Example-CommsDemo.hmipad</string>
												<key>detailText</key>
												<string>A single page project demonstrating single tag communications with four PLCs of different brands and models, including Allen Bradley, Siemens and Omron </string>
											</dict>
										</array>
									</dict>
								</array>
							</dict>
						</dict>
						<key>image</key>
						<string>121-landscapeGray.png</string>
						<key>text</key>
						<string>PLC Communications Demo</string>
						<key>detailText</key>
						<string></string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>headerTitle</key>
				<string>Advanced</string>
				<key>footerTitle</key>
				<string></string>
				<key>metaData</key>
				<dict>
					<key>objectType</key>
					<integer>8</integer>
				</dict>
				<key>rows</key>
				<array>
					<dict>
						<key>metaData</key>
						<dict>
							<key>dataSource</key>
							<dict>
								<key>rowHeight</key>
								<integer>72</integer>
								<key>sections</key>
								<array>
									<dict>
										<key>headerTitle</key>
										<string></string>
										<key>footerTitle</key>
										<string></string>
										<key>metaData</key>
										<dict>
											<key>objectType</key>
											<integer>8</integer>
										</dict>
										<key>rows</key>
										<array>
											<dict>
												<key>metaData</key>
												<dict>
													<key>return</key>
													<dict>
														<key>projectName</key>
														<string>Example-MultiLanguage.hmipad</string>
														<key>bundledFiles</key>
														<array>
															<string>Example-MultiLanguage/thumbnail.png</string>
														</array>
														<key>assets</key>
														<array/>
													</dict>
												</dict>
												<key>image</key>
												<string>Example-MultiLanguage.hmipad</string>
												<key>text</key>
												<string>Example-MultiLanguage.hmipad</string>
												<key>detailText</key>
												<string>A single page example demonstrating a way to create a multilingual user interface by using an array of languages (English, Spanish, German, Japanese) and a dictionary returning text translations for every language</string>
											</dict>
											<dict>
												<key>metaData</key>
												<dict>
													<key>return</key>
													<dict>
														<key>projectName</key>
														<string>Example-TimeAndFormulas.hmipad</string>
														<key>bundledFiles</key>
														<array>
															<string>Example-TimeAndFormulas/thumbnail.png</string>
														</array>
														<key>assets</key>
														<array/>
													</dict>
												</dict>
												<key>image</key>
												<string>Example-TimeAndFormulas.hmipad</string>
												<key>text</key>
												<string>Example-TimeAndFormulas.hmipad</string>
												<key>detailText</key>
												<string>This extensive example demonstrates the use of many expressions to perform operations with time, numbers, strings and data format conversions. On each page a different concept is presented. Navigation through pages is implemented using a generic way by means of expressions.</string>
											</dict>
											<dict>
												<key>metaData</key>
												<dict>
													<key>return</key>
													<dict>
														<key>projectName</key>
														<string>Example-Encrypt.hmipad</string>
														<key>bundledFiles</key>
														<array>
															<string>Example-Encrypt/thumbnail.png</string>
														</array>
														<key>assets</key>
														<array/>
													</dict>
												</dict>
												<key>image</key>
												<string>Example-Encrypt.hmipad</string>
												<key>text</key>
												<string>Example-Encrypt.hmipad</string>
												<key>detailText</key>
												<string>We use the encript/decrypt funcions to encript a custom string based on a custom key and back to the original string</string>
											</dict>
										</array>
									</dict>
								</array>
							</dict>
						</dict>
						<key>image</key>
						<string>121-landscapeGray.png</string>
						<key>text</key>
						<string>Advanced Expressions</string>
						<key>detailText</key>
						<string></string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</dict>
</plist>
