<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dataSource</key>
	<dict>
		<key>rowHeight</key>
		<integer>44</integer>
		<key>sections</key>
		<array>
			<dict>
				<key>headerTitle</key>
				<string></string>
				<key>footerTitle</key>
				<string></string>
				<key>metaData</key>
				<dict>
					<key>objectType</key>
					<integer>4</integer>
				</dict>
				<key>rows</key>
				<array>
					<dict>
						<key>metaData</key>
						<dict>
							<key>return</key>
							<string>SWPage</string>
						</dict>
						<key>image</key>
						<string>frame.png</string>
						<key>text</key>
						<string>Page</string>
						<key>detailText</key>
						<string></string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>headerTitle</key>
				<string></string>
				<key>footerTitle</key>
				<string></string>
				<key>metaData</key>
				<dict>
					<key>objectType</key>
					<integer>1</integer>
				</dict>
				<key>rows</key>
				<array>
					<dict>
						<key>metaData</key>
						<dict>
							<key>dataSource</key>
							<dict>
								<key>rowHeight</key>
								<integer>72</integer>
								<key>sections</key>
								<array>
									<dict>
										<key>headerTitle</key>
										<string></string>
										<key>footerTitle</key>
										<string></string>
										<key>metaData</key>
										<dict>
											<key>objectType</key>
											<integer>1</integer>
										</dict>
										<key>rows</key>
										<array>
											<dict>
												<key>metaData</key>
												<dict>
													<key>return</key>
													<string>SWTextFieldItem</string>
												</dict>
												<key>image</key>
												<string>frame.png</string>
												<key>text</key>
												<string>Text Field</string>
												<key>detailText</key>
												<string>TextField is an interactive item to display and modify text.</string>
											</dict>
											<dict>
												<key>metaData</key>
												<dict>
													<key>return</key>
													<string>SWLabelItem</string>
												</dict>
												<key>image</key>
												<string>frame.png</string>
												<key>text</key>
												<string>Label</string>
												<key>detailText</key>
												<string>Use this item to display text.</string>
											</dict>
										</array>
									</dict>
								</array>
							</dict>
						</dict>
						<key>image</key>
						<string>frame.png</string>
						<key>text</key>
						<string>Text Items</string>
						<key>detailText</key>
						<string></string>
					</dict>
					<dict>
						<key>metaData</key>
						<dict>
							<key>dataSource</key>
							<dict>
								<key>rowHeight</key>
								<integer>72</integer>
								<key>sections</key>
								<array>
									<dict>
										<key>headerTitle</key>
										<string></string>
										<key>footerTitle</key>
										<string></string>
										<key>metaData</key>
										<dict>
											<key>objectType</key>
											<integer>1</integer>
										</dict>
										<key>rows</key>
										<array>
											<dict>
												<key>metaData</key>
												<dict>
													<key>return</key>
													<string>SWImageItem</string>
												</dict>
												<key>image</key>
												<string>frame.png</string>
												<key>text</key>
												<string>Image</string>
												<key>detailText</key>
												<string>Display a single image with possibility of colorate it.</string>
											</dict>
											<dict>
												<key>metaData</key>
												<dict>
													<key>return</key>
													<string>SWShapeItem</string>
												</dict>
												<key>image</key>
												<string>frame.png</string>
												<key>text</key>
												<string>Shape Frame</string>
												<key>detailText</key>
												<string>Simple shaped frame to improve your page layout.</string>
											</dict>
										</array>
									</dict>
								</array>
							</dict>
						</dict>
						<key>image</key>
						<string>frame.png</string>
						<key>text</key>
						<string>Image Items</string>
						<key>detailText</key>
						<string></string>
					</dict>
					<dict>
						<key>metaData</key>
						<dict>
							<key>dataSource</key>
							<dict>
								<key>rowHeight</key>
								<integer>72</integer>
								<key>sections</key>
								<array>
									<dict>
										<key>headerTitle</key>
										<string></string>
										<key>footerTitle</key>
										<string></string>
										<key>metaData</key>
										<dict>
											<key>objectType</key>
											<integer>1</integer>
										</dict>
										<key>rows</key>
										<array>
											<dict>
												<key>metaData</key>
												<dict>
													<key>return</key>
													<string>SWButtonItem</string>
												</dict>
												<key>image</key>
												<string>frame.png</string>
												<key>text</key>
												<string>Touch Button</string>
												<key>detailText</key>
												<string>This button is activated when is pressed and deactivated otherwise.</string>
											</dict>
											<dict>
												<key>metaData</key>
												<dict>
													<key>return</key>
													<string>SWStyledSwitchItem</string>
												</dict>
												<key>image</key>
												<string>frame.png</string>
												<key>text</key>
												<string>Switch</string>
												<key>detailText</key>
												<string>Choose between the two states on &amp; off.</string>
											</dict>
											<dict>
												<key>metaData</key>
												<dict>
													<key>return</key>
													<string>SWCustomSwitchItem</string>
												</dict>
												<key>image</key>
												<string>frame.png</string>
												<key>text</key>
												<string>Custom Switch</string>
												<key>detailText</key>
												<string>User customizable switch.</string>
											</dict>
											<dict>
												<key>metaData</key>
												<dict>
													<key>return</key>
													<string>SWSliderItem</string>
												</dict>
												<key>image</key>
												<string>frame.png</string>
												<key>text</key>
												<string>Slider</string>
												<key>detailText</key>
												<string>Basic slider. In non-enabled mode the slider is replaced with a progress bar.</string>
											</dict>
											<dict>
												<key>metaData</key>
												<dict>
													<key>return</key>
													<string>SWKnobItem</string>
												</dict>
												<key>image</key>
												<string>frame.png</string>
												<key>text</key>
												<string>Knob</string>
												<key>detailText</key>
												<string>Rounded control to display and choose values from a given interval.</string>
											</dict>
										</array>
									</dict>
								</array>
							</dict>
						</dict>
						<key>image</key>
						<string>frame.png</string>
						<key>text</key>
						<string>Control Items</string>
						<key>detailText</key>
						<string></string>
					</dict>
					<dict>
						<key>metaData</key>
						<dict>
							<key>dataSource</key>
							<dict>
								<key>rowHeight</key>
								<integer>72</integer>
								<key>sections</key>
								<array>
									<dict>
										<key>headerTitle</key>
										<string></string>
										<key>footerTitle</key>
										<string></string>
										<key>metaData</key>
										<dict>
											<key>objectType</key>
											<integer>1</integer>
										</dict>
										<key>rows</key>
										<array>
											<dict>
												<key>metaData</key>
												<dict>
													<key>return</key>
													<string>SWBarLevelItem</string>
												</dict>
												<key>image</key>
												<string>frame.png</string>
												<key>text</key>
												<string>Bar Level</string>
												<key>detailText</key>
												<string>Use this item to display a numeric value in a bar level shape.</string>
											</dict>
											<dict>
												<key>metaData</key>
												<dict>
													<key>return</key>
													<string>SWTrendItem</string>
												</dict>
												<key>image</key>
												<string>frame.png</string>
												<key>text</key>
												<string>Trend</string>
												<key>detailText</key>
												<string>Draw data from multiples inputs in a line chart.</string>
											</dict>
											<dict>
												<key>metaData</key>
												<dict>
													<key>return</key>
													<string>SWScaleItem</string>
												</dict>
												<key>image</key>
												<string>frame.png</string>
												<key>text</key>
												<string>Scale</string>
												<key>detailText</key>
												<string>Use this item to complement trends, barLevels, and others in order to add data information.</string>
											</dict>
											<dict>
												<key>metaData</key>
												<dict>
													<key>return</key>
													<string>SWGaugeItem</string>
												</dict>
												<key>image</key>
												<string>frame.png</string>
												<key>text</key>
												<string>Gauge</string>
												<key>detailText</key>
												<string>Display a single value in a rounded item.</string>
											</dict>
											<dict>
												<key>metaData</key>
												<dict>
													<key>return</key>
													<string>SWLampItem</string>
												</dict>
												<key>image</key>
												<string>frame.png</string>
												<key>text</key>
												<string>Lamp</string>
												<key>detailText</key>
												<string>Simple led.</string>
											</dict>
											<dict>
												<key>metaData</key>
												<dict>
													<key>return</key>
													<string>SWHorizontalPipeItem</string>
												</dict>
												<key>image</key>
												<string>frame.png</string>
												<key>text</key>
												<string>Horizontal Pipe</string>
												<key>detailText</key>
												<string>Simple horizontal pipe.</string>
											</dict>
											<dict>
												<key>metaData</key>
												<dict>
													<key>return</key>
													<string>SWVerticalPipeItem</string>
												</dict>
												<key>image</key>
												<string>frame.png</string>
												<key>text</key>
												<string>Vertical Pipe</string>
												<key>detailText</key>
												<string>Simple vertical pipe.</string>
											</dict>
										</array>
									</dict>
								</array>
							</dict>
						</dict>
						<key>image</key>
						<string>frame.png</string>
						<key>text</key>
						<string>Data Visualization Items</string>
						<key>detailText</key>
						<string></string>
					</dict>
					<dict>
						<key>metaData</key>
						<dict>
							<key>dataSource</key>
							<dict>
								<key>rowHeight</key>
								<integer>72</integer>
								<key>sections</key>
								<array>
									<dict>
										<key>headerTitle</key>
										<string></string>
										<key>footerTitle</key>
										<string></string>
										<key>metaData</key>
										<dict>
											<key>objectType</key>
											<integer>1</integer>
										</dict>
										<key>rows</key>
										<array>
											<dict>
												<key>metaData</key>
												<dict>
													<key>return</key>
													<string>SWWebItem</string>
												</dict>
												<key>image</key>
												<string>frame.png</string>
												<key>text</key>
												<string>Web Browser</string>
												<key>detailText</key>
												<string>Use this item to display a numeric value in a bar level shape.</string>
											</dict>
										</array>
									</dict>
								</array>
							</dict>
						</dict>
						<key>image</key>
						<string>frame.png</string>
						<key>text</key>
						<string>Web Items</string>
						<key>detailText</key>
						<string></string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>headerTitle</key>
				<string></string>
				<key>footerTitle</key>
				<string></string>
				<key>metaData</key>
				<dict>
					<key>objectType</key>
					<integer>2</integer>
				</dict>
				<key>rows</key>
				<array>
					<dict>
						<key>metaData</key>
						<dict>
							<key>dataSource</key>
							<dict>
								<key>rowHeight</key>
								<integer>72</integer>
								<key>sections</key>
								<array>
									<dict>
										<key>headerTitle</key>
										<string></string>
										<key>footerTitle</key>
										<string></string>
										<key>metaData</key>
										<dict>
											<key>objectType</key>
											<integer>2</integer>
										</dict>
										<key>rows</key>
										<array>
											<dict>
												<key>metaData</key>
												<dict>
													<key>return</key>
													<string>SWChronometerBackgroundItem</string>
												</dict>
												<key>image</key>
												<string>frame.png</string>
												<key>text</key>
												<string>Chronometer</string>
												<key>detailText</key>
												<string>A basic chronometer for time mesuring.</string>
											</dict>
											<dict>
												<key>metaData</key>
												<dict>
													<key>return</key>
													<string>SWTimerBackgroundItem</string>
												</dict>
												<key>image</key>
												<string>frame.png</string>
												<key>text</key>
												<string>Timer</string>
												<key>detailText</key>
												<string>A basic timer.</string>
											</dict>
										</array>
									</dict>
								</array>
							</dict>
						</dict>
						<key>image</key>
						<string>frame.png</string>
						<key>text</key>
						<string>Timing Items</string>
						<key>detailText</key>
						<string></string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>headerTitle</key>
				<string></string>
				<key>footerTitle</key>
				<string></string>
				<key>metaData</key>
				<dict>
					<key>objectType</key>
					<integer>8</integer>
				</dict>
				<key>rows</key>
				<array>
					<dict>
						<key>metaData</key>
						<dict>
							<key>return</key>
							<string>SWAlarmItem</string>
						</dict>
						<key>image</key>
						<string>frame.png</string>
						<key>text</key>
						<string>Alarm</string>
						<key>detailText</key>
						<string></string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>footerTitle</key>
				<string></string>
				<key>headerTitle</key>
				<string></string>
				<key>metaData</key>
				<dict>
					<key>objectType</key>
					<integer>16</integer>
				</dict>
				<key>rows</key>
				<array>
					<dict>
						<key>metaData</key>
						<dict>
							<key>dataSource</key>
							<dict>
								<key>rowHeight</key>
								<integer>44</integer>
								<key>sections</key>
								<array>
									<dict>
										<key>headerTitle</key>
										<string></string>
										<key>footerTitle</key>
										<string></string>
										<key>metaData</key>
										<dict>
											<key>objectType</key>
											<integer>16</integer>
										</dict>
										<key>rows</key>
										<array>
											<dict>
												<key>metaData</key>
												<dict>
													<key>return</key>
													<string>eip/native</string>
												</dict>
												<key>image</key>
												<string></string>
												<key>text</key>
												<string>eip/native</string>
												<key>detailText</key>
												<string></string>
											</dict>
											<dict>
												<key>metaData</key>
												<dict>
													<key>return</key>
													<string>eip/pccc</string>
												</dict>
												<key>image</key>
												<string></string>
												<key>text</key>
												<string>eip/pccc</string>
												<key>detailText</key>
												<string></string>
											</dict>
											<dict>
												<key>metaData</key>
												<dict>
													<key>return</key>
													<string>modbus/tcp</string>
												</dict>
												<key>image</key>
												<string></string>
												<key>text</key>
												<string>modbus/tcp</string>
												<key>detailText</key>
												<string></string>
											</dict>
											<dict>
												<key>metaData</key>
												<dict>
													<key>return</key>
													<string>modbus/rtu</string>
												</dict>
												<key>image</key>
												<string></string>
												<key>text</key>
												<string>modbus/rtu</string>
												<key>detailText</key>
												<string></string>
											</dict>
											<dict>
												<key>metaData</key>
												<dict>
													<key>return</key>
													<string>fins/tcp</string>
												</dict>
												<key>image</key>
												<string></string>
												<key>text</key>
												<string>fins/tcp</string>
												<key>detailText</key>
												<string></string>
											</dict>
											<dict>
												<key>metaData</key>
												<dict>
													<key>return</key>
													<string>siemens/iso_tcp</string>
												</dict>
												<key>image</key>
												<string></string>
												<key>text</key>
												<string>siemens/iso_tcp</string>
												<key>detailText</key>
												<string></string>
											</dict>
										</array>
									</dict>
								</array>
							</dict>
						</dict>
						<key>image</key>
						<string>frame.png</string>
						<key>text</key>
						<string>PLC Sources</string>
						<key>detailText</key>
						<string></string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</dict>
</plist>
