<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dataSource</key>
	<dict>
		<key>rowHeight</key>
		<integer>44</integer>
		<key>sections</key>
		<array>
			<dict>
				<key>headerTitle</key>
				<string>Page</string>
				<key>footerTitle</key>
				<string></string>
				<key>metaData</key>
				<dict>
					<key>objectType</key>
					<integer>4</integer>
				</dict>
				<key>rows</key>
				<array>
					<dict>
						<key>metaData</key>
						<dict>
							<key>dataSource</key>
							<dict>
								<key>rowHeight</key>
								<integer>72</integer>
								<key>sections</key>
								<array>
									<dict>
										<key>headerTitle</key>
										<string></string>
										<key>footerTitle</key>
										<string></string>
										<key>metaData</key>
										<dict>
											<key>objectType</key>
											<integer>4</integer>
										</dict>
										<key>rows</key>
										<array>
											<dict>
												<key>metaData</key>
												<dict>
													<key>return</key>
													<string>SWPage</string>
												</dict>
												<key>image</key>
												<string>705-photos-selected.png</string>
												<key>text</key>
												<string>New Page</string>
												<key>detailText</key>
												<string>Add a new page to your project</string>
											</dict>
										</array>
									</dict>
								</array>
							</dict>
						</dict>
						<key>image</key>
						<string>121-landscapeGray.png</string>
						<key>text</key>
						<string>Pages</string>
						<key>detailText</key>
						<string>Create a new page</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>headerTitle</key>
				<string>Interface</string>
				<key>footerTitle</key>
				<string></string>
				<key>metaData</key>
				<dict>
					<key>objectType</key>
					<integer>1</integer>
				</dict>
				<key>rows</key>
				<array>
					<dict>
						<key>metaData</key>
						<dict>
							<key>dataSource</key>
							<dict>
								<key>rowHeight</key>
								<integer>72</integer>
								<key>sections</key>
								<array>
									<dict>
										<key>headerTitle</key>
										<string></string>
										<key>footerTitle</key>
										<string></string>
										<key>metaData</key>
										<dict>
											<key>objectType</key>
											<integer>1</integer>
										</dict>
										<key>rows</key>
										<array>
											<dict>
												<key>metaData</key>
												<dict>
													<key>return</key>
													<string>SWNumberTextFieldItem</string>
												</dict>
												<key>image</key>
												<string>SWThumbnailNumberField</string>
												<key>text</key>
												<string>Numeric Input Field</string>
												<key>detailText</key>
												<string>Input field to enter numeric values</string>
											</dict>
											<dict>
												<key>metaData</key>
												<dict>
													<key>return</key>
													<string>SWStringTextFieldItem</string>
												</dict>
												<key>image</key>
												<string>SWThumbnailTextField</string>
												<key>text</key>
												<string>Text Input Field</string>
												<key>detailText</key>
												<string>Input field to enter text strings</string>
											</dict>
											<dict>
												<key>metaData</key>
												<dict>
													<key>return</key>
													<string>SWStringTextViewItem</string>
												</dict>
												<key>image</key>
												<string>SWThumbnailTextView</string>
												<key>text</key>
												<string>Text Input View</string>
												<key>detailText</key>
												<string>Scrolling input view to enter multi line text strings</string>
											</dict>
										</array>
									</dict>
								</array>
							</dict>
						</dict>
						<key>image</key>
						<string>121-landscapeGray.png</string>
						<key>text</key>
						<string>Text/Number Input</string>
						<key>detailText</key>
						<string></string>
					</dict>
					<dict>
						<key>metaData</key>
						<dict>
							<key>dataSource</key>
							<dict>
								<key>rowHeight</key>
								<integer>72</integer>
								<key>sections</key>
								<array>
									<dict>
										<key>headerTitle</key>
										<string></string>
										<key>footerTitle</key>
										<string></string>
										<key>metaData</key>
										<dict>
											<key>objectType</key>
											<integer>1</integer>
										</dict>
										<key>rows</key>
										<array>
											<dict>
												<key>metaData</key>
												<dict>
													<key>return</key>
													<string>SWButtonItem</string>
												</dict>
												<key>image</key>
												<string>SWThumbnailColoredButton</string>
												<key>text</key>
												<string>Button</string>
												<key>detailText</key>
												<string>Button control (momentary, toggle or touch-up) with optional image</string>
											</dict>
											<dict>
												<key>metaData</key>
												<dict>
													<key>return</key>
													<string>SWStyledSwitchItem</string>
												</dict>
												<key>image</key>
												<string>SWThumbnailSwitch</string>
												<key>text</key>
												<string>Switch</string>
												<key>detailText</key>
												<string>iOS styled switch control with optional button look</string>
											</dict>
											<dict>
												<key>metaData</key>
												<dict>
													<key>return</key>
													<string>SWCustomSwitchItem</string>
												</dict>
												<key>image</key>
												<string>767-photo-1-selected.png</string>
												<key>text</key>
												<string>Custom Switch</string>
												<key>detailText</key>
												<string>Switch control customizable with images</string>
											</dict>
											<dict>
												<key>metaData</key>
												<dict>
													<key>return</key>
													<string>SWSegmentedControlItem</string>
												</dict>
												<key>image</key>
												<string>SWThumbnailSegmented</string>
												<key>text</key>
												<string>Segmented Control</string>
												<key>detailText</key>
												<string>iOS styled segmented control for choosing among several options</string>
											</dict>
											<dict>
												<key>metaData</key>
												<dict>
													<key>return</key>
													<string>SWSliderItem</string>
												</dict>
												<key>image</key>
												<string>SWThumbnailSlider</string>
												<key>text</key>
												<string>Slider</string>
												<key>detailText</key>
												<string>iOS styled slider control to select a value in a range</string>
											</dict>
											<dict>
												<key>metaData</key>
												<dict>
													<key>return</key>
													<string>SWKnobItem</string>
												</dict>
												<key>image</key>
												<string>SWThumbnailKnob</string>
												<key>text</key>
												<string>Knob</string>
												<key>detailText</key>
												<string>Circular control to select a value in a range</string>
											</dict>
											<dict>
												<key>metaData</key>
												<dict>
													<key>return</key>
													<string>SWArrayPickerItem</string>
												</dict>
												<key>image</key>
												<string>SWThumbnailArrayPicker</string>
												<key>text</key>
												<string>Array Picker</string>
												<key>detailText</key>
												<string>Control to select an element in an array</string>
											</dict>
											<dict>
												<key>metaData</key>
												<dict>
													<key>return</key>
													<string>SWDictionaryPickerItem</string>
												</dict>
												<key>image</key>
												<string>SWThumbnailDictionaryPicker</string>
												<key>text</key>
												<string>Dictionary Picker</string>
												<key>detailText</key>
												<string>Control to select an element in a dictionary</string>
											</dict>
											<dict>
												<key>metaData</key>
												<dict>
													<key>return</key>
													<string>SWTapRecognizerItem</string>
												</dict>
												<key>image</key>
												<string>SWThumbnailTapGesture</string>
												<key>text</key>
												<string>Tap Gesture Recognizer</string>
												<key>detailText</key>
												<string>Gesture recognizer control to recognize taps on a rectangular area </string>
											</dict>
										</array>
									</dict>
								</array>
							</dict>
						</dict>
						<key>image</key>
						<string>121-landscapeGray.png</string>
						<key>text</key>
						<string>Controls</string>
						<key>detailText</key>
						<string></string>
					</dict>
					<dict>
						<key>metaData</key>
						<dict>
							<key>dataSource</key>
							<dict>
								<key>rowHeight</key>
								<integer>72</integer>
								<key>sections</key>
								<array>
									<dict>
										<key>headerTitle</key>
										<string></string>
										<key>footerTitle</key>
										<string></string>
										<key>metaData</key>
										<dict>
											<key>objectType</key>
											<integer>1</integer>
										</dict>
										<key>rows</key>
										<array>
											<dict>
												<key>metaData</key>
												<dict>
													<key>return</key>
													<string>SWLabelItem</string>
												</dict>
												<key>image</key>
												<string>SWThumbnailLabel</string>
												<key>text</key>
												<string>Label</string>
												<key>detailText</key>
												<string>Non editable field to display text or numeric values</string>
											</dict>
											<dict>
												<key>metaData</key>
												<dict>
													<key>return</key>
													<string>SWBarLevelItem</string>
												</dict>
												<key>image</key>
												<string>SWThumbnailBar</string>
												<key>text</key>
												<string>Bar Level</string>
												<key>detailText</key>
												<string>Bar indicator to display a numeric value in a range.</string>
											</dict>
											<dict>
												<key>metaData</key>
												<dict>
													<key>return</key>
													<string>SWHPIndicatorItem</string>
												</dict>
												<key>image</key>
												<string>SWThumbnailHPIndicator</string>
												<key>text</key>
												<string>Range Indicator</string>
												<key>detailText</key>
												<string>Range indicator according to &apos;The High Performance HMI&apos; book</string>
											</dict>
											<dict>
												<key>metaData</key>
												<dict>
													<key>return</key>
													<string>SWTrendItem</string>
												</dict>
												<key>image</key>
												<string>SWThumbnailTrend</string>
												<key>text</key>
												<string>Trend</string>
												<key>detailText</key>
												<string>Multi-line chart to display trend values </string>
											</dict>
											<dict>
												<key>metaData</key>
												<dict>
													<key>return</key>
													<string>SWChartItem</string>
												</dict>
												<key>image</key>
												<string>SWThumbnailChart</string>
												<key>text</key>
												<string>Chart</string>
												<key>detailText</key>
												<string>Multi-line chart to display series of values</string>
											</dict>
											<dict>
												<key>metaData</key>
												<dict>
													<key>return</key>
													<string>SWScaleItem</string>
												</dict>
												<key>image</key>
												<string>SWThumbnailScale</string>
												<key>text</key>
												<string>Scale</string>
												<key>detailText</key>
												<string>Scale indicator, to use next to charts, trends and bar indicators</string>
											</dict>
											<dict>
												<key>metaData</key>
												<dict>
													<key>return</key>
													<string>SWGaugeItem</string>
												</dict>
												<key>image</key>
												<string>SWThumbnailGauge</string>
												<key>text</key>
												<string>Gauge</string>
												<key>detailText</key>
												<string>Circular gauge indicator to display a numeric value in a range</string>
											</dict>
											<dict>
												<key>metaData</key>
												<dict>
													<key>return</key>
													<string>SWLampItem</string>
												</dict>
												<key>image</key>
												<string>SWThumbnailLamp</string>
												<key>text</key>
												<string>Lamp</string>
												<key>detailText</key>
												<string>Led like indicator to display state values with color, and other visual effects</string>
											</dict>
											<dict>
												<key>metaData</key>
												<dict>
													<key>return</key>
													<string>SWHorizontalPipeItem</string>
												</dict>
												<key>image</key>
												<string>SWThumbnailHPipe</string>
												<key>text</key>
												<string>Horizontal Pipe</string>
												<key>detailText</key>
												<string>Horizontal line with optional visual effects</string>
											</dict>
											<dict>
												<key>metaData</key>
												<dict>
													<key>return</key>
													<string>SWVerticalPipeItem</string>
												</dict>
												<key>image</key>
												<string>SWThumbnailVPipe</string>
												<key>text</key>
												<string>Vertical Pipe</string>
												<key>detailText</key>
												<string>Vertical line with optional visual effects</string>
											</dict>
										</array>
									</dict>
								</array>
							</dict>
						</dict>
						<key>image</key>
						<string>121-landscapeGray.png</string>
						<key>text</key>
						<string>Indicators</string>
						<key>detailText</key>
						<string></string>
					</dict>
					<dict>
						<key>metaData</key>
						<dict>
							<key>dataSource</key>
							<dict>
								<key>rowHeight</key>
								<integer>72</integer>
								<key>sections</key>
								<array>
									<dict>
										<key>headerTitle</key>
										<string></string>
										<key>footerTitle</key>
										<string></string>
										<key>metaData</key>
										<dict>
											<key>objectType</key>
											<integer>1</integer>
										</dict>
										<key>rows</key>
										<array>
											<dict>
												<key>metaData</key>
												<dict>
													<key>return</key>
													<string>SWImageItem</string>
												</dict>
												<key>image</key>
												<string>822-photo-2-selected.png</string>
												<key>text</key>
												<string>Image</string>
												<key>detailText</key>
												<string>Display an image or an array of images with tint color, self animation and other effects</string>
											</dict>
											<dict>
												<key>metaData</key>
												<dict>
													<key>return</key>
													<string>SWShapeItem</string>
												</dict>
												<key>image</key>
												<string>767-photo-1-selected.png</string>
												<key>text</key>
												<string>Frame Shape</string>
												<key>detailText</key>
												<string>Frame shape with several options to visually improve your page layout</string>
											</dict>
										</array>
									</dict>
								</array>
							</dict>
						</dict>
						<key>image</key>
						<string>121-landscapeGray.png</string>
						<key>text</key>
						<string>Images</string>
						<key>detailText</key>
						<string></string>
					</dict>
					<dict>
						<key>metaData</key>
						<dict>
							<key>dataSource</key>
							<dict>
								<key>rowHeight</key>
								<integer>72</integer>
								<key>sections</key>
								<array>
									<dict>
										<key>headerTitle</key>
										<string></string>
										<key>footerTitle</key>
										<string></string>
										<key>metaData</key>
										<dict>
											<key>objectType</key>
											<integer>1</integer>
										</dict>
										<key>rows</key>
										<array>
											<dict>
												<key>metaData</key>
												<dict>
													<key>return</key>
													<string>SWWebItem</string>
												</dict>
												<key>image</key>
												<string>786-browser-selected.png</string>
												<key>text</key>
												<string>Web Browser</string>
												<key>detailText</key>
												<string>Web enabled component to display any kind of content such as documents, video, web content and more</string>
											</dict>
										</array>
									</dict>
								</array>
							</dict>
						</dict>
						<key>image</key>
						<string>121-landscapeGray.png</string>
						<key>text</key>
						<string>Web</string>
						<key>detailText</key>
						<string></string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>headerTitle</key>
				<string>Background</string>
				<key>footerTitle</key>
				<string></string>
				<key>metaData</key>
				<dict>
					<key>objectType</key>
					<integer>2</integer>
				</dict>
				<key>rows</key>
				<array>
					<dict>
						<key>metaData</key>
						<dict>
							<key>dataSource</key>
							<dict>
								<key>rowHeight</key>
								<integer>72</integer>
								<key>sections</key>
								<array>
									<dict>
										<key>headerTitle</key>
										<string></string>
										<key>footerTitle</key>
										<string></string>
										<key>metaData</key>
										<dict>
											<key>objectType</key>
											<integer>2</integer>
										</dict>
										<key>rows</key>
										<array>
											<dict>
												<key>metaData</key>
												<dict>
													<key>return</key>
													<string>SWBackgroundItemExpression</string>
												</dict>
												<key>image</key>
												<string>962-puzzle-piece-selected.png</string>
												<key>text</key>
												<string>Expression</string>
												<key>detailText</key>
												<string>A custom expression to hold intermediate values or to link objects</string>
											</dict>
											<dict>
												<key>metaData</key>
												<dict>
													<key>return</key>
													<string>SWBackgroundItemDataSnap</string>
												</dict>
												<key>image</key>
												<string>887-notepad-selected.png</string>
												<key>text</key>
												<string>Data Snap</string>
												<key>detailText</key>
												<string>An object to efficiently capture a instantaneous snap of data. (For example to retrieve PLC data snaps with no communcations overheat).</string>
											</dict>
											<dict>
												<key>metaData</key>
												<dict>
													<key>return</key>
													<string>SWBackgroundItemRecipeSheet</string>
												</dict>
												<key>image</key>
												<string>995-martini-glass-selected.png</string>
												<key>text</key>
												<string>Recipe Sheet</string>
												<key>detailText</key>
												<string>An object to retrieve recipe ingredients from a recipe sheet file.</string>
											</dict>
										</array>
									</dict>
								</array>
							</dict>
						</dict>
						<key>image</key>
						<string>121-landscapeGray.png</string>
						<key>text</key>
						<string>Expressions &amp; Data</string>
						<key>detailText</key>
						<string></string>
					</dict>
					<dict>
						<key>metaData</key>
						<dict>
							<key>dataSource</key>
							<dict>
								<key>rowHeight</key>
								<integer>72</integer>
								<key>sections</key>
								<array>
									<dict>
										<key>headerTitle</key>
										<string></string>
										<key>footerTitle</key>
										<string></string>
										<key>metaData</key>
										<dict>
											<key>objectType</key>
											<integer>2</integer>
										</dict>
										<key>rows</key>
										<array>
											<dict>
												<key>metaData</key>
												<dict>
													<key>return</key>
													<string>SWBackgroundItemDelayOn</string>
												</dict>
												<key>image</key>
												<string>718-timer-1-selected.png</string>
												<key>text</key>
												<string>On Timer</string>
												<key>detailText</key>
												<string>A Delay ON Timer.</string>
											</dict>
										</array>
									</dict>
								</array>
							</dict>
						</dict>
						<key>image</key>
						<string>121-landscapeGray.png</string>
						<key>text</key>
						<string>Timers</string>
						<key>detailText</key>
						<string></string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>headerTitle</key>
				<string>Alarm</string>
				<key>footerTitle</key>
				<string></string>
				<key>metaData</key>
				<dict>
					<key>objectType</key>
					<integer>8</integer>
				</dict>
				<key>rows</key>
				<array>
					<dict>
						<key>metaData</key>
						<dict>
							<key>dataSource</key>
							<dict>
								<key>rowHeight</key>
								<integer>72</integer>
								<key>sections</key>
								<array>
									<dict>
										<key>headerTitle</key>
										<string></string>
										<key>footerTitle</key>
										<string></string>
										<key>metaData</key>
										<dict>
											<key>objectType</key>
											<integer>8</integer>
										</dict>
										<key>rows</key>
										<array>
											<dict>
												<key>metaData</key>
												<dict>
													<key>return</key>
													<string>SWAlarmItem</string>
												</dict>
												<key>image</key>
												<string>716-stopwatch-1-selected.png</string>
												<key>text</key>
												<string>New Alarm</string>
												<key>detailText</key>
												<string>Alarm object</string>
											</dict>
										</array>
									</dict>
								</array>
							</dict>
						</dict>
						<key>image</key>
						<string>121-landscapeGray.png</string>
						<key>text</key>
						<string>Alarms</string>
						<key>detailText</key>
						<string></string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>headerTitle</key>
				<string>User</string>
				<key>footerTitle</key>
				<string></string>
				<key>metaData</key>
				<dict>
					<key>objectType</key>
					<integer>16</integer>
				</dict>
				<key>rows</key>
				<array>
					<dict>
						<key>metaData</key>
						<dict>
							<key>dataSource</key>
							<dict>
								<key>rowHeight</key>
								<integer>72</integer>
								<key>sections</key>
								<array>
									<dict>
										<key>headerTitle</key>
										<string></string>
										<key>footerTitle</key>
										<string></string>
										<key>metaData</key>
										<dict>
											<key>objectType</key>
											<integer>16</integer>
										</dict>
										<key>rows</key>
										<array>
											<dict>
												<key>metaData</key>
												<dict>
													<key>return</key>
													<string>SWProjectUser</string>
												</dict>
												<key>image</key>
												<string>121-landscapeGray.png</string>
												<key>text</key>
												<string>New Project User</string>
												<key>detailText</key>
												<string>Project User</string>
											</dict>
										</array>
									</dict>
								</array>
							</dict>
						</dict>
						<key>image</key>
						<string>121-landscapeGray.png</string>
						<key>text</key>
						<string>Users</string>
						<key>detailText</key>
						<string></string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>headerTitle</key>
				<string>Database</string>
				<key>footerTitle</key>
				<string></string>
				<key>metaData</key>
				<dict>
					<key>objectType</key>
					<integer>32</integer>
				</dict>
				<key>rows</key>
				<array>
					<dict>
						<key>metaData</key>
						<dict>
							<key>dataSource</key>
							<dict>
								<key>rowHeight</key>
								<integer>72</integer>
								<key>sections</key>
								<array>
									<dict>
										<key>headerTitle</key>
										<string></string>
										<key>footerTitle</key>
										<string></string>
										<key>metaData</key>
										<dict>
											<key>objectType</key>
											<integer>32</integer>
										</dict>
										<key>rows</key>
										<array>
											<dict>
												<key>metaData</key>
												<dict>
													<key>return</key>
													<string>SWDatabaseItem</string>
												</dict>
												<key>image</key>
												<string>121-landscapeGray.png</string>
												<key>text</key>
												<string>New Database Item</string>
												<key>detailText</key>
												<string>Database</string>
											</dict>
										</array>
									</dict>
								</array>
							</dict>
						</dict>
						<key>image</key>
						<string>121-landscapeGray.png</string>
						<key>text</key>
						<string>Databases</string>
						<key>detailText</key>
						<string></string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>headerTitle</key>
				<string>Connector</string>
				<key>footerTitle</key>
				<string></string>
				<key>metaData</key>
				<dict>
					<key>objectType</key>
					<integer>64</integer>
				</dict>
				<key>rows</key>
				<array>
					<dict>
						<key>metaData</key>
						<dict>
							<key>dataSource</key>
							<dict>
								<key>rowHeight</key>
								<integer>44</integer>
								<key>sections</key>
								<array>
									<dict>
										<key>headerTitle</key>
										<string></string>
										<key>footerTitle</key>
										<string></string>
										<key>metaData</key>
										<dict>
											<key>objectType</key>
											<integer>64</integer>
										</dict>
										<key>rows</key>
										<array>
											<dict>
												<key>metaData</key>
												<dict>
													<key>return</key>
													<string>eip/native</string>
												</dict>
												<key>image</key>
												<string>938-connections-selected.png</string>
												<key>text</key>
												<string>eip/native</string>
												<key>detailText</key>
												<string>Allen Bradley ControlLogix, CompactLogix series using Ethernet/IP communications over TCP.</string>
											</dict>
											<dict>
												<key>metaData</key>
												<dict>
													<key>return</key>
													<string>eip/pccc</string>
												</dict>
												<key>image</key>
												<string>938-connections-selected.png</string>
												<key>text</key>
												<string>eip/pccc</string>
												<key>detailText</key>
												<string>Allen Bradley MicroLogix, SLC5 series using PCCC commands embedded in Ethernet/IP over TCP.</string>
											</dict>
											<dict>
												<key>metaData</key>
												<dict>
													<key>return</key>
													<string>modbus/tcp</string>
												</dict>
												<key>image</key>
												<string>938-connections-selected.png</string>
												<key>text</key>
												<string>modbus/tcp</string>
												<key>detailText</key>
												<string>Schneider Electric, Wago, Beckhoff, Automation Direct and other Modbus TCP enabled controllers.</string>
											</dict>
											<dict>
												<key>metaData</key>
												<dict>
													<key>return</key>
													<string>modbus/rtu</string>
												</dict>
												<key>image</key>
												<string>938-connections-selected.png</string>
												<key>text</key>
												<string>modbus/rtu</string>
												<key>detailText</key>
												<string>Modbus RTU over TCP communications. Connects to Modbus RTU controllers through an Ethernet to Serial Gateway.</string>
											</dict>
											<dict>
												<key>metaData</key>
												<dict>
													<key>return</key>
													<string>fins/tcp</string>
												</dict>
												<key>image</key>
												<string>938-connections-selected.png</string>
												<key>text</key>
												<string>fins/tcp</string>
												<key>detailText</key>
												<string>Omron PLCs such as the CP1, CJ1, CJ2 and CS1 series using FINS/TCP communications</string>
											</dict>
											<dict>
												<key>metaData</key>
												<dict>
													<key>return</key>
													<string>siemens/iso_tcp</string>
												</dict>
												<key>image</key>
												<string>938-connections-selected.png</string>
												<key>text</key>
												<string>siemens/iso_tcp</string>
												<key>detailText</key>
												<string>Siements S7 controllers using Siemens ISO/TCP communications.</string>
											</dict>
											<dict>
												<key>metaData</key>
												<dict>
													<key>return</key>
													<string>opto22/native</string>
												</dict>
												<key>image</key>
												<string>938-connections-selected.png</string>
												<key>text</key>
												<string>opto22/native</string>
												<key>detailText</key>
												<string>Opto22 PAC Controllers using the Opto22 Native communications protocol.</string>
											</dict>
											<dict>
												<key>metaData</key>
												<dict>
													<key>return</key>
													<string>melsec/1E</string>
												</dict>
												<key>image</key>
												<string>938-connections-selected.png</string>
												<key>text</key>
												<string>melsec/1E</string>
												<key>detailText</key>
												<string>Mitsubishi FX controllers through MC (1E) frames.</string>
											</dict>
										</array>
									</dict>
								</array>
							</dict>
						</dict>
						<key>image</key>
						<string>121-landscapeGray.png</string>
						<key>text</key>
						<string>PLC Connector</string>
						<key>detailText</key>
						<string></string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</dict>
</plist>
